*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #306057;
}

main{

    font-family: 'Montserrat', sans-serif;

}
/* Assets */


/* Navbar */

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 20px;

    height: 80px;

    background-color: white;

    box-shadow: 0px 5px 30px black;
}

.img-container{
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 80px;
}

.img-container img{
    height: 100%;
}

.title{
    font-size: 2.4em;
    font-family: 'Rubik Iso', cursive;
}

.select-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.label-title{
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    
}

#difficulty-select{
    padding: 6px 15px;
    background-color: #306057;

    color: white;

    font-weight: bold;
    font-family: 'Montserrat', sans-serif;

    border-radius: 20px;
    border-style: none;

    box-shadow: 5px 5px 15px black;

    cursor: pointer;
}

#play-btn{
    padding: 12px 60px;

    border-radius: 30px;
    border-style: none;

    background-color: #306057;

    color: white;

    font-weight: bold;
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;

    cursor: pointer;

    box-shadow: 5px 5px 15px black;
}

#recharge{
    display: none;  
}

#recharge-btn{
    padding: 12px 40px;

    border-radius: 30px;
    border-style: none;

    background-color: #00a8e8;

    color: white;

    font-weight: bold;
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;

    cursor: pointer;

    box-shadow: 5px 5px 15px black;
}


/* /Navbar */



/* Main */

.game-container{
    display: flex;
    justify-content: center;
    align-items: center;

    height: calc(100vh - 80px);
}

#grid{
    display: none;

    flex-flow: row wrap;

    width: 500px;
    height: 500px;

    background-color: white;

    box-shadow: 10px 10px 30px black; 
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;

    

    font-weight: bold;

    border: 1px solid black;

    cursor: pointer;
}

.active{
    background-color: #00a8e8;

    color: white;
}

/* /Main */